*{
  margin: 0;
  padding: 0;
}
body{  background-color:#0c739f;
background: linear-gradient(to bottom,
    #128aa7, #128aa7 30px,
    #5ef0ff 30px, #5ef0ff 31px,
    #10cde1 31px, #fff 175px,
    #40c6d3 175px, #0c739f 1000px);
background-repeat: no-repeat;
height: 1000px;
width: 100%;
}
.perents{
  height: 970px;
  width: 1050px;
  background: white;
  border: 1px solid black;
  box-shadow: 0 0 10px;
  margin: auto;
  text-align: center;
  overflow: hidden;

}
.logo img{
  float: left;
  position: relative;
}
.logo p {
  color:#329ab3;
  font-size: 15px;
  margin: 90px 70px;
  position: absolute;
  font-family: sans-serif;
}
.contact {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
.contact li{
  display: block;
  color:#329ab3;
  font-size: 15px;
  font-family: sans-serif;
  text-align: left;
}
.country{
  clear: both;
  float: right;
  margin-top: -70px;
  margin-right: 30px;
}
.country li{
  display: inline-block;
}
.country span{
  display: block;
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
}
.country a{
  color: #329ab3;
}
.photo img{
  width: 1050px;
  margin-top: 3px;
}
ul.menu {
   background: #323232;
    list-style: none;
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px;
    margin-top: -3px;
}
ul.menu:after {
    display: block;
    content: '';
    clear: both;
}
li.menu__item {
    float: left;
    position: relative;
    box-sizing: border-box;
    margin-left: 50px;
}
a.menu__link {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
a.menu__link:hover {
    background-color:black;
    color: white;
}
ul.submenu {
  list-style: none;
    display: none;
    position: absolute;
    width: 150px;
    top: 25px;
    left: 0;
    box-shadow: 0 0 10px
}
li.submenu__link{
  display: block;
}
a.submenu__link {
    display: block;
    color: white;
    background: #323232;
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px;
}
a.submenu__link:hover {
    text-decoration: underline;
}
ul.menu > li.menu__item:hover > ul.submenu {
    display: block;
}
.information{
  float: left;
  max-width: 220px;
  background-color: #edeef0;
  font-family: sans-serif;
  border-right: 1px solid #c7cacf;
  text-align: center;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  }
.information h3, .news h3 {
  color: #424c43;
}
.information p, .news p{
  line-height: 23px;
  color: #424c43;
  padding-left: 5px;
  padding-right: 10px;
}
.pustota{
  margin-left: 220px;
  margin-right: 220px;
}
.news{
float: right;
width: 220px;
background-color: #edeef0;
font-family: sans-serif;
border-left: 1px solid #c7cacf;
text-align: center;
padding-bottom: 20000px;
margin-bottom: -20000px;
}
.copy{
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}
